body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #cccdcf 20%,  #585a5c);

}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

header{
    background: linear-gradient(180deg, #0d0f13 -30%, #1f252e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;    
}

header h1{
    margin-bottom: 2px;
    font-weight: 800;
    font-size: 2.2rem;
}

header h2{
    margin-top: 10px;
    color: #94a3b8;
    font-weight: 400;
    font-size: 1.5rem;
}

nav{
    background-color:#35383b;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid black;
}

nav a{
    color: #dee2e7;
    text-decoration: none;
    padding: 16px 24px;
    font-size: 1.3rem;
    font-weight: 500;

}

nav a:hover{
    color: #ffffff;
    background-color: #334155;
    cursor: pointer;
}

main h2{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 5%;
}

#bemutat{
    display: flex;

}

#bemutat img{
    border-radius: 50px;
    width: 25%;
    max-width: 350px;
    height: auto;
    margin: 20px 30px 20px 50px;
    box-shadow: 0px 0px 70px 15px black;
}

#bemutatszoveg{
    background-color: #35383b;
    padding: 20px;
    border-radius: 50px;
    width: 55%;
    height: auto;
    color: #dee2e7;
    font-size: 3rem;
}

#keszseg{
    display: flex;
    justify-content: center;
}

#kesz1, #kesz2{
    background-color: #35383b;
    margin: 30px;
    padding: 70px;
    border-radius: 30px;
    color: #dee2e7;
    font-size: 2rem;
}

#kesz1 li, #kesz2 li{
    margin-top: 20px;
}

#projektek{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#projektek p{
    font-size: 1.6rem;
    line-height: 1.5;
}

#projektek h2{
    font-size: 2.3rem;
}

#projekt1, #projekt2, #projekt3{
    background-color: #35383b;
    padding: 20px;
    width: 25%;
    border-radius: 50px;
    height: 500px;
    color: #dee2e7
}

#projekt1:hover, #projekt2:hover, #projekt3:hover{
    transform: translateY(-10px);
    transition: 0.4s;
    box-shadow: 0px 0px 70px 15px black;
}

#projektek img:hover{
    border-radius: 0;
}

#projektek img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

#kapcsolat{
    display: flex;
    justify-content: center;
}

#kapcsolat table{
    padding: 30px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    background-color: #35383b;
    border-collapse: collapse;
    color: #dee2e7;
    
}

#kapcsolat td, tr{
    border: 2px solid black;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #35383b;
    color: #dee2e7;
    font-size: 1.8rem;
}

footer p{
    margin: 20px;
}

@media (max-width: 800px){
    #bemutat img{width: 20%; height: 30%;}
    #bemutatszoveg{font-size: 1.9rem; width: 60%;}
    #projektek{flex-direction: column; gap: 50px;}
    #projekt1, #projekt2, #projekt3{width: 70%;}
    nav{flex-direction: column; text-align: center; position:relative; }
    #kesz1, #kesz2{ padding: 50px;}
    #kapcsolat table{font-size: 2rem;}
}








